
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tecnologia</title>
    </head>
    
    <body>
    
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/ZonaGetApp/src/app/pages/noticias/noticias.component.html">ZonaGet</a>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              
            </ul>
          </div>
        </div>
      </nav>
    
      <!-- Page Content -->
      <div class="container">
    
        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h3 class="display-3">Xiaomi en 2020: estas son las novedades de la marca china para este año</h3>
          <p class="lead">La marca china Xiaomi tiene varios pendientes por desarrollar este 2020 y su hoja de ruta incluye nuevos modelos de smartphones y bandas inteligentes.</p>
          <a href="https://rpp.pe/tecnologia/moviles/xiaomi-estos-son-los-lanzamientos-de-la-marca-en-2020-actualizaciones-a-android-telefonos-mi-band-5-redmi-note-9-mi-10-noticia-1239261" class="btn btn-primary btn-lg">Vamos!!!</a>
        </header>
    
        <!-- Page Features -->
        <div class="row text-center">
    
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="https://i.ytimg.com/vi/ECFzAc-uRDs/maxresdefault.jpg" alt="">
              <div class="card-body">
                <h4 class="card-title">QLED 8K.</h4>
                <p class="card-text">"El mejor TV QLED hasta ahora… más que una pantalla de televisor, sientes que estás observando el mundo real"</p>
              </div>
              <div class="card-footer">
                <a href="https://www.samsung.com/es/tvs/qled-tv/highlights/" class="btn btn-primary">Saber mas!</a>
              </div>
            </div>
          </div>
    
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="https://tec.mx/sites/default/files/inline-images/tecnologia-2020-tec-4.jpg" alt="">
              <div class="card-body">
                <h4 class="card-title">LLEGAN LAS REDES 5G A TODA VELOCIDAD</h4>
                <p class="card-text">La quinta generación de tecnología celular, llamada 5G, es la promesa de mayor velocidad de navegación para visualizar mejor contenidos multimedia, disponibilidad en la Nube y comunicación en tiempo real.</p>
              </div>
              <div class="card-footer">
                <a href="https://www.gemalto.com/latam/telecom/inspiracion/5g" class="btn btn-primary">Saber mas!</a>
              </div>
            </div>
          </div>
    
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="https://www.infobae.com/new-resizer/AhH9Cd_UQU2m7JQZRoUTX3whUDg=/750x0/filters:quality(100)/arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/FDCTMYDTEVC3RBXVIZZHR7EDDE.jpg" alt="">
              <div class="card-body">
                <h4 class="card-title">Todo lo que sabemos de Xbox Series X, la nueva consola de Microsoft</h4>
                <p class="card-text">Repasamos toda la información de Xbox Series X, la nueva consola de Microsoft que llegará a finales de 2020.</p>
              </div>
              <div class="card-footer">
                <a href="https://vandal.elespanol.com/reportaje/todo-lo-que-sabemos-de-xbox-series-x-la-nueva-consola-de-microsoft" class="btn btn-primary">Saber mas!</a>
              </div>
            </div>
          </div>
    
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <img class="card-img-top" src="https://www.irontec.com/image/serviceContent/69-aplicaciones-con-ionic.jpg" alt="">
              <div class="card-body">
                <h4 class="card-title">Ionic, un futuro híbrido entre las páginas web y las aplicaciones</h4>
                <p class="card-text">Estamos ante la nueva forma de desarrollo de las mejores apps!</p>
              </div>
              <div class="card-footer">
                <a href="https://www.computerworld.es/innovacion/ionic-un-futuro-hibrido-entre-las-paginas-web-y-las-aplicaciones" class="btn btn-primary">Saber mas!</a>
              </div>
            </div>
          </div>
    
        </div>
        <!-- /.row -->
    
      </div>
      <!-- /.container -->
    
      <!-- Footer -->
      <footer class="py-5 bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; ZonaGet 2020</p>
        </div>
        <!-- /.container -->
      </footer>
    
      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    </body>
    
    </html>